.navbar.navbar-dark.navbar-expand-md.bg-dark
  a(href='#').navbar-brand Navbar
  button(type="button", data-toggle="collapse", data-target="#NavbarNavWrapper").navbar-toggler: span.navbar-toggler-icon
  .collapse.navbar-collapse#NavbarNavWrapper
    ul.navbar-nav#NavbarNav
      li.nav-item: a(href="/").nav-link <i class="fas fa-home"></i> Home
