doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='X-UA-Complatible', content='ie=edge')
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		block custom_css
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css')
	body
		block content